<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome, user</title>
  <link rel="stylesheet" href="/app/assets/stylesheets/users/form.css">
</head>
<body class="Form">

<% if @param=="information" %>
  <%= render "editInfo", user: @user %>
<%elsif  @param=="password"%>
  <%= render "editPassword", user: @user %>
<%end %>

</body>
</html>
