<link rel="stylesheet" href="/app/assets/stylesheets/users/form.css">
<h1 class="title">
  Welcome to sign up page...!
</h1>

<%= render "form", user: @user %>

<br>

<div class="BackLink">
  <%= link_to "Back to users", users_path %>
</div>
