<link rel="stylesheet" href="/app/assets/stylesheets/users/form.css">

<h2 class="title-h2" > Update the details of course and it's associate professor: </h2>


<%= render "facultyInfoForm", academicInfo: @FacultyAcademicInfo, profs: @Profs %>
