
<h1 class="title" style=" width: 100% ">
  <div class="row">
    <div class="col-sm-4" style="text-align: left">
      <a href="#" style="display: flex" >
        <%= link_to  image_tag('house-door-fill.svg', width: 45), user_path(@current_user.id) %>
      </a>
    </div>
    <div class="col-sm-4">
      <p style=" text-align: center;"> All Professors and their courses</p>
    </div>
  </div>
</h1>



<div class="container-0">
  <div class="row row-cols-6 " style="margin: 5px 5px; flex-direction: row; justify-content: start;align-content: inherit; width: 100%}">
    <% @Profs.each do |prof| %>

      <div class="profs col" style="flex-direction: column;margin: 0px; padding: 5px; height: fit-content">
          <%= render "showFaculty", userInfo: prof, academicInfo: prof.faculty_academic_information %>
      </div>
    <% end %>
  </div>
</div>
  <%# @Profs.each do |info| %>

    <%#= render "showFaculty", academicInfo: info %>
<!--    <strong style="color: dodgerblue; font-size: large; padding-left: 10px ">-->
<!--      <u><%#= link_to  "Assign course to this professor", new_faculty_academic_information_url(params:{profId: info.id})  %></u>-->
<!--    </strong>-->
  <%# end %>

