<link rel="stylesheet" href="/app/assets/stylesheets/users/form.css">
<h1 class="title">
  Course details..!
</h1>

<%= render "form", course: @course %>

<br>

<div class="BackLink">
  <%= link_to "Back to Courses", courses_path %>
</div>
