/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.Sign_in{
    text-align: center;
    content: inherit;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: "Chalkboard SE";


}


div.submit{
    text-align: center;
    content: inherit;
    align-content: flex-start;
    margin-left: 23%;
    margin-right: auto;
    margin-top: 20px;
    font-size: medium;

}

input.submit{
    width: 70%;
    height: 100px;
    padding: 0px;
}



label.SignUp{
    margin: 20px;
    padding: 5px;
    font-size: larger;
}

h2.title-h2{
    font-family: revert;
    padding: 5px;
    background: #e2f6ff;
    display: inline-flex;

}

h2.title-h2-2{
    background-color: darkseagreen;
    margin: 5px 5px;
    padding: 5px 10px;
    font-family: Arial;
    border-radius: 5px;
    backdrop-filter: contrast(50%);
    text-align: center;
    color: black;
}

strong.notice{
    color: blue;
    margin-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: larger;
    border-radius: 5px;
}

div.profs{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border-style: groove;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

label#columns{
    flex-wrap: nowrap;
    flex-direction: column;
}
