<link rel="stylesheet" href="/app/assets/stylesheets/users/user.css">

<div>



  <p class="Entry">
    <strong>Degree:</strong>
    <label class="type"><%= academicInfo.batch %> </label>

  </p>

  <p class="Entry">
    <strong>Department:</strong>
    <label class="type"><%= academicInfo.department %></label>
  </p>

  <p class="Entry">
    <strong>Current Semester:</strong>
    <label class="type"><%= academicInfo.currentSemester %></label>
  </p>

  <p class="Entry">
    <strong>CPI:</strong>
    <label class="type"><%= academicInfo.cpi %></label>
  </p>


</div>
